.contenedor{
    display: flex;
    top: 0;
    gap: 1px;
    justify-content: center;
    position: relative;
}

.textFooter{
    color: black;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}

.btn{
    background-color: transparent;
    border: none;
}

.logoIG{
    position: relative;
    bottom: 7px;
    right: 10px;
    width: 70px;
    height: 40px;
}