.encabezado{
    display: flex;
    left: 0;
    height: 150px;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(11, 11, 110);
}

.contenedor1{
    background-color: white;
    width: 400px;
    height: 150px;
}

.contenedor2{
    background: linear-gradient(to bottom right, white 50%, rgb(11, 11, 110) 50%);
    width: 100px;
    height: 150px;
}

.contenedor3{
    text-align: center;
    align-content: center;
    background-color: rgb(11, 11, 110);
    width: 1000px;
    height: 150px;
}          

.logo{
    width: 250px;
    height: 100px;
}