body{
    height: 100%;
    background-color: white;
}

.contenedorPageHome{
    background-color: white;
    display: grid;
    left: 0;
    height: 100%;
    margin-top: 140px;
    width: 100%;
}

.contenedorHome{
    background-color: white;
    display: grid;
    grid-template-columns: 500px 400px;
    justify-content: center;
    height: 100%;
    width: 1000px;
}

.esloganHome{
    font-size: large;
    font-weight: 600;
    color: black;
    text-align: center;
}

.contenedorValores{
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #0000001a;
    width: 470px;
    height: auto;
}

.infoValores{
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
    background-color: rgb(11, 11, 110);
    align-content: center;
}

.valores{
    font-weight: 700;
    font-size: large;
    color: yellow;
    text-align: center;
}

.textoValores{
    margin-top: 5px;
    margin-left: 10px;
    font-size: smaller;
    color: black;
    text-align: left;
}

.contenedorVariado{
    width: 500px;
    height: auto;
}

.contenedorMision{
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #0000001a;
    width: 450px;
    height: 160px;
}

.infoMision{
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
    background-color: rgb(11, 11, 110);
    align-content: center;
}

.mision{
    font-weight: 700;
    font-size: large;
    color: yellow;
    text-align: center;
}

.textoMision{
    margin-top: 5px;
    margin-left: 7px;
    font-size: smaller;
    color: black;
    text-align: left;
}

.negrita{
    font-size: small;
    font-weight: 800;
}

.contenedorVision{
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #0000001a;
    width: 450px;
    height: 180px;
}

.infoVision{
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
    background-color: rgb(11, 11, 110);
    align-content: center;
}

.vision{
    font-weight: 700;
    font-size: large;
    color: yellow;
    text-align: center;
}

.textoVision{
    margin-top: 5px;
    margin-left: 7px;
    font-size: smaller;
    color: black;
    text-align: left;
}

.contenedorFinalHome{
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px #0000001a;
    width: 450px;
    height: 170px;
}

.textoFinalHome{
    margin-left: 7px;
    font-size: smaller;
    color: black;
    text-align: left;
}