* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white; 
}

.contenedorMarcas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 100px;
}

.contenedor>div{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: #2D4263;
    border-radius: 20px;
}
.contenedor>div:hover{
    background-color: #11294d;
}

.img{
    width: 320px;
    height: auto;
}