.contenedorReseñas {
    display: grid;
    grid-template-columns: 500px 400px;

}

.comment-box {
    background-color: white;
    color: black;
    margin-top: 200px;
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
.boxComment { 
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}

.inputFormReseñas{
  width: 100%;
  padding: 10px; 
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
}

.pNombre {
  font-weight: 700;
}

  .headerFormReseñas {
    font-size: 30px;
    text-align: center;
    color: black;
  }
  
  .btnComment {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .tituloReseñas{
    font-size: 20px;
  }

  .btnComment:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .textEvaluacion {
    
    color: black;
  }
  
  .star {
    color: #ccc;
  }
  
  .star.filled {
    color: #ffbc00;
  }
  
  .reviews {
    background-color: white;
    color: black;
    margin-top: 200px;
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }

  .rating {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
  
  .review {
    border-top: 1px solid #eee;
    padding: 10px 0;
  }
  
  .review p {
    margin: 5px 0;
  }
  